{{define "default/index.html"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>{{.title}}</h2>

{{$t :=.title}}
<br />
{{$t}}
<!--条件判断-->
{{ if ge .score 60 }}
    <p>及格</p>
{{ else }}
    <p>不及格</p>
{{ end }}

{{ if gt .score 90 }}
    <p>优秀</p>
{{ else if ge .score 80 }}
    <p>良好</p>
{{ else if ge .score 60 }}
    <p>及格</p>
{{ else }}
    <p>不及格</p>
{{ end }}

<!--循环遍历数据-->
    <ul>
        {{range $key,$value:=.hobby}}
        <li>{{$key}}------{{$value}}</li>
        {{end}}
    </ul>

    <ul>
        {{range $key,$value:=.newList}}
        <li>{{$key}}------{{$value.Title}}-----{{$value.Content}}</li>
        {{end}}
    </ul>
11111111111

    <ul>
        {{range $key,$value:=.testSlice}}
        <li>{{$key}}------{{$value}}</li>
        {{else}}
        <li>没有数据</li>
        {{end}}
    </ul>

<!--with 解构结构体-->
    {{with .news}}
    <ul>
        <li>{{.Title}}</li>
        <li>{{.Content}}</li>
    </ul>
    {{end}}


</body>
</html>
{{end}}